.tippy-popper {
  width: 150px;
}

.tippy-tooltip.light-theme {
  background-color: white;
  border: 1px solid rgba(0,0,0,.2);
  color: black;
  font-size: 12px;
  padding: 0px;
  text-align: left;
}

.tooltip-title {
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.tooltip-table td {
  padding: 0px 5px 5px 10px;
  border: none;
}
